# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qm
*.prl
*.qmlls.ini
*.qmlproject.user
*.qmlproject.user.*

# CMake
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile*
build/
*build-*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.autosave
*creator.user*

# OS
.DS_Store
Thumbs.db
compile_commands.json

# Docs (opcional)
documentacion/